body {
    
}

.hero {
    background-image: url(cover\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}