body {
    margin: 0;
    font-family: system-ui;
    background-image: url(cover\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    background-color: #19b5c7;
    color: red;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}