.body {
    width: 960px;
    margin: 0 auto;}


#content {
overflow: auto;
height: 100%;}


#nav, #feature, #footer {
background-color:rgb(166, 145, 206);
padding: 10px;
margin: 10px; }

li {
display: inline;
padding: 5px; }


.hero {

background-repeat: no-repeat;
background-size: cover;
color: black;
}


.container {
background-image: url(cover\ image.jpg);
background-repeat: no-repeat;
background-size: cover;
margin-left: auto;
margin-right: auto;
padding-left: 1rem;
padding-right: 1rem;
}


.one {
border-color:blueviolet;
border-style:groove}


